[mysqld]
#slow_query_log = 1
#slow_query_log_file = /var/log/mysql/mysql-slow.log
#log_error = /var/log/mysql/error.log

secure-file-priv = NULL
sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
character-set-server = utf8
